.jaab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
}

.jaab-card {
  padding: 10px;
  height: 60rem;
  width: 79rem;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.jaab-btn {
  border-radius: 5px;
  justify-content: center;
  text-align: center;
}
