.doc-upload-form {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.doc-upload-form h2 {
  margin-bottom: 20px;
  color: #00796b;
}

.doc-form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.doc-form-group {
  flex: 1;
  margin-right: 10px;
}

.doc-form-group:last-child {
  margin-right: 0;
}

.doc-form-group label {
  display: block;
  margin-bottom: 5px;
}

.doc-form-group input[type="file"] {
  width: 80%;
  padding: 8px;
  /* box-sizing: border-box; */

  border: 1px solid black;
}

.doc-btn[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.doc-btn [type="submit"]:hover {
  background-color: #005a4f;
}
